body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#board {
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.board-row {
    flex: 1;
    display: flex;
}

.board-section {
    border: 5px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.board-section-row {
    display: flex;
    flex: 1;
}

.number-box {
    border: 1px solid black;
    width: 99%;
    height: 99%;
    text-align: center;
    font-size: 2em;
    padding: 0;
    margin: 0; 
}

.remove-right-border {
    border-right: none;
}